<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<br>
<br>
<br>
<br>

<div class="container text-center">

<h1> Hanji aao baitho, batate hain </h1>
<br>
<br>    
    
 Toh baat aisi hai ki hum aapke abba, aur tum ho harmonium. 
 <br>   
Ab samajh toh gye hi hoge tum, toh jaao apna kaam karo! 
    <br>
    <br>
    <h6> Idhar jyada gaand fulya toh maa chod denge tumai! </h6>
    <br>
<a href= {% url 'home' %} class="btn btn-secondary"> Nikal Laude! </a>
    
</div>    