<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">
    <br>
    <br>
    <br>

    <h1> Password khud se nhi bana paa rhe? </h1>
    <h1> Idhar aao, hum bana ke dega.</h1>
<br>
<br>  
<br>    
Kitna lamba lega bc?


<form action='password'>
    <select name="kitna lamba?">
        <option value= "6"> Ashish Bhagat </option>
        <option value= "7"> Cristiano Ronaldo </option>
        <option value= "8"> Vertical Boobs </option>
        <option value= "9"> Ulta Ashish Bhagat </option>
        <option value= "10"> Bhadwa Messi </option>
        <option value= "11"> 2 chahie </option>
        <option value= "12" selected = "selected"> ek foot </option>
        <option value= "13"> isme TERAH ghaata, mera kuch nhi jaata </option>
        <option value= "14"> kisko choda? </option>
    </select>
    <br>
    <br>
    <br>
    <input type= "checkbox" name= "letters" Checked> Chote chalenge?
    <br>
    <input type="checkbox" name= "Uppercase"> Bade wale letters chahiye?
    <br>  
    <input type="checkbox" name= "numbers"> Number chahiye? (ladki ka nhi hai bsdk)
    <br>  
    <input type="checkbox" name= "Special"> Dollar wo sab daalwane hain?
    <br> 
    <br>
    <br>
    <input type="submit" value = "Ab mereko dabao" class= "btn btn-primary">
</form> 
    
<br>    
<br>
<br>    
<br>
<br>     
    
<a href= {% url "about" %} class="btn btn-secondary"> Hum aapke hain kaun? </a>
</div>